Note Red/NodeREDflow.json
[{"id":"71dfb99.c1aae48","type":"tab","label":"project Flow","disabled":false,"info":""},{"id":"ff23b697.0486b8","type":"ui_gauge","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":4,"width":5,"height":4,"gtype":"gage","title":"House_A Current Flow","label":"Litres","format":"{{value}}","min":0,"max":"30","colors":["#435fa3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":380,"wires":[]},{"id":"5c7ee1.37a5212","type":"ui_gauge","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":6,"width":5,"height":4,"gtype":"gage","title":"House_B Current Flow","label":"Litres","format":"{{value}}","min":0,"max":"30","colors":["#8c00b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":460,"wires":[]},{"id":"7d4717e5.747558","type":"ui_gauge","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":28,"width":5,"height":4,"gtype":"gage","title":"House_C Current Flow","label":"Litres","format":"{{value}}","min":0,"max":"30","colors":["#8dbd0a","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":600,"wires":[]},{"id":"79c8ce0a.2d6a6","type":"ui_gauge","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":30,"width":5,"height":4,"gtype":"gage","title":"House_D Current Flow","label":"Litres","format":"{{value}}","min":0,"max":"30","colors":["#b30036","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":680,"wires":[]},{"id":"24903caa.a62684","type":"ui_gauge","z":"71dfb99.c1aae48","name":"Water_Tank","group":"be3e3c14.30851","order":2,"width":10,"height":10,"gtype":"wave","title":"Water_Tank","label":"Litres","format":"{{value}}","min":0,"max":"2000","colors":["#bb11ad","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":340,"wires":[]},{"id":"ea747691.9567c8","type":"ibmiot in","z":"71dfb99.c1aae48","authentication":"apiKey","apiKey":"be8144d9.01aaa8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Ziggyp","applicationId":"","deviceType":"project_device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":390,"y":560,"wires":[["1ea7f534.85c0bb","a097fde4.851a8","b5f6c1ce.5480f","21b4efa6.4219d","433c2849.b34d88","e8088c85.98c94","2f769eb7.42e9e2","1d60e6da.7f06e9","d041985f.0452a8","dfb231cb.46e78","eeb9d75b.852578","100cce46.d02092","2892ac34.0a1184","6ae7655e.5e57fc","2dc372c1.4dffae","8eeac90b.808838","e004254e.601e68","6d152e5f.73d72","2dd91bbe.4efa54","892d1703.b5a278","28874ad1.6e3766","ab94d140.25f01"]]},{"id":"1ea7f534.85c0bb","type":"function","z":"71dfb99.c1aae48","name":"tank level","func":"msg.payload = msg.payload.Tank_level\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["24903caa.a62684"]]},{"id":"a097fde4.851a8","type":"function","z":"71dfb99.c1aae48","name":"House_A","func":"msg.payload = msg.payload.House_A\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["ff23b697.0486b8","e906a4c7.618078"]]},{"id":"b5f6c1ce.5480f","type":"function","z":"71dfb99.c1aae48","name":"House_B","func":"msg.payload = msg.payload.House_B\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["5c7ee1.37a5212","954003d5.7a52d"]]},{"id":"21b4efa6.4219d","type":"function","z":"71dfb99.c1aae48","name":"House_C","func":"msg.payload = msg.payload.House_C\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":620,"wires":[["7d4717e5.747558","d0a0ce9b.3477e"]]},{"id":"433c2849.b34d88","type":"function","z":"71dfb99.c1aae48","name":"House_D","func":"msg.payload = msg.payload.House_D\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":700,"wires":[["79c8ce0a.2d6a6","2581f1f6.cafd1e"]]},{"id":"7b1af1ed.cd98c","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":22,"width":3,"height":1,"passthru":false,"label":"View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":400,"wires":[["b9690f8e.d5bfc"]]},{"id":"b9690f8e.d5bfc","type":"ui_ui_control","z":"71dfb99.c1aae48","name":"","events":"all","x":1320,"y":540,"wires":[[]]},{"id":"e8abf491.2eb248","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":24,"width":3,"height":1,"passthru":false,"label":"View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":440,"wires":[["b9690f8e.d5bfc"]]},{"id":"7b29f6c2.5c3368","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":46,"width":3,"height":1,"passthru":false,"label":"View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":480,"wires":[["b9690f8e.d5bfc"]]},{"id":"d06fa187.4d0d9","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"be3e3c14.30851","order":48,"width":3,"height":1,"passthru":false,"label":"View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":520,"wires":[["b9690f8e.d5bfc"]]},{"id":"f906954f.7bcc48","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"94f29458.4a37e8","order":4,"width":3,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":600,"wires":[["b9690f8e.d5bfc"]]},{"id":"b5d1e1de.1bbdb","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"1e96a458.4c4acc","order":4,"width":3,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":640,"wires":[["b9690f8e.d5bfc"]]},{"id":"eae8f54c.946638","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"ab6f3054.8e8bb","order":4,"width":3,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":680,"wires":[["b9690f8e.d5bfc"]]},{"id":"d29f9e73.5f76b","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"1886e6de.ca0029","order":4,"width":3,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1090,"y":560,"wires":[["b9690f8e.d5bfc"]]},{"id":"e906a4c7.618078","type":"ui_chart","z":"71dfb99.c1aae48","name":"Water Usage","group":"1886e6de.ca0029","order":2,"width":7,"height":5,"label":"Water Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data not Available :|","dot":false,"ymin":"0","ymax":"30","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":420,"wires":[[]]},{"id":"954003d5.7a52d","type":"ui_chart","z":"71dfb99.c1aae48","name":"Water Usage","group":"94f29458.4a37e8","order":2,"width":7,"height":5,"label":"Water Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data not Available :|","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":500,"wires":[[]]},{"id":"d0a0ce9b.3477e","type":"ui_chart","z":"71dfb99.c1aae48","name":"Water Usage","group":"1e96a458.4c4acc","order":2,"width":7,"height":5,"label":"Water Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data not Available :|","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":640,"wires":[[]]},{"id":"2581f1f6.cafd1e","type":"ui_chart","z":"71dfb99.c1aae48","name":"Water Usage","group":"ab6f3054.8e8bb","order":2,"width":7,"height":5,"label":"Water Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Data not Available :|","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":720,"wires":[[]]},{"id":"9bd1055e.52cf88","type":"ui_text","z":"71dfb99.c1aae48","group":"1886e6de.ca0029","order":15,"width":15,"height":1,"name":"","label":"Cost/L","format":"{{\"3 Rupees/L\"}}","layout":"row-spread","x":590,"y":100,"wires":[]},{"id":"a3cf5143.8ab7e","type":"ui_text","z":"71dfb99.c1aae48","group":"1886e6de.ca0029","order":17,"width":15,"height":1,"name":"","label":"Due","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":180,"wires":[]},{"id":"7c8aa2b5.9863fc","type":"ui_text","z":"71dfb99.c1aae48","group":"1886e6de.ca0029","order":18,"width":15,"height":1,"name":"","label":"Total","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"b314be72.590ce","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"1886e6de.ca0029","order":20,"width":3,"height":1,"passthru":false,"label":"Pay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Pay_A\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1210,"y":220,"wires":[["199b2c0e.a2aa04"]]},{"id":"199b2c0e.a2aa04","type":"ibmiot out","z":"71dfb99.c1aae48","authentication":"apiKey","apiKey":"be8144d9.01aaa8","outputType":"cmd","deviceId":"Ziggyp","deviceType":"project_device","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1480,"y":280,"wires":[]},{"id":"e8088c85.98c94","type":"function","z":"71dfb99.c1aae48","name":"Quan_A","func":"msg.payload = msg.payload.Quan_A\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["e7a6dabe.453858"]]},{"id":"2f769eb7.42e9e2","type":"function","z":"71dfb99.c1aae48","name":"Due_A","func":"msg.payload = msg.payload.Due_A\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["a3cf5143.8ab7e"]]},{"id":"1d60e6da.7f06e9","type":"function","z":"71dfb99.c1aae48","name":"Total_A","func":"msg.payload = msg.payload.Total_A\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["7c8aa2b5.9863fc"]]},{"id":"f3328362.ae419","type":"ui_text","z":"71dfb99.c1aae48","group":"1886e6de.ca0029","order":16,"width":15,"height":1,"name":"","label":"current term bill","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":220,"wires":[]},{"id":"d041985f.0452a8","type":"function","z":"71dfb99.c1aae48","name":"Cur_A","func":"msg.payload = msg.payload.Cur_A\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["f3328362.ae419"]]},{"id":"8e643184.59a1f","type":"ui_text","z":"71dfb99.c1aae48","group":"94f29458.4a37e8","order":15,"width":15,"height":1,"name":"","label":"Cost/L","format":"{{\"3 Rupees/L\"}}","layout":"row-spread","x":970,"y":100,"wires":[]},{"id":"7ed7542f.3334bc","type":"ui_text","z":"71dfb99.c1aae48","group":"94f29458.4a37e8","order":14,"width":15,"height":1,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":140,"wires":[]},{"id":"a69348ac.9a1738","type":"ui_text","z":"71dfb99.c1aae48","group":"94f29458.4a37e8","order":17,"width":15,"height":1,"name":"","label":"Due","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":180,"wires":[]},{"id":"9cb2288a.4ffdd8","type":"ui_text","z":"71dfb99.c1aae48","group":"94f29458.4a37e8","order":18,"width":15,"height":1,"name":"","label":"Total","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":260,"wires":[]},{"id":"dfb231cb.46e78","type":"function","z":"71dfb99.c1aae48","name":"Quan_B","func":"msg.payload = msg.payload.Quan_B\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":140,"wires":[["7ed7542f.3334bc"]]},{"id":"eeb9d75b.852578","type":"function","z":"71dfb99.c1aae48","name":"Due_B","func":"msg.payload = msg.payload.Due_B\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":180,"wires":[["a69348ac.9a1738"]]},{"id":"2892ac34.0a1184","type":"function","z":"71dfb99.c1aae48","name":"Total_B","func":"msg.payload = msg.payload.Total_B\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":260,"wires":[["9cb2288a.4ffdd8"]]},{"id":"1a6e6db9.707d22","type":"ui_text","z":"71dfb99.c1aae48","group":"94f29458.4a37e8","order":16,"width":15,"height":1,"name":"","label":"current term bill","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":220,"wires":[]},{"id":"100cce46.d02092","type":"function","z":"71dfb99.c1aae48","name":"Cur_B","func":"msg.payload = msg.payload.Cur_B\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":220,"wires":[["1a6e6db9.707d22"]]},{"id":"5630555a.c0d9bc","type":"ui_text","z":"71dfb99.c1aae48","group":"1e96a458.4c4acc","order":15,"width":15,"height":1,"name":"","label":"Cost/L","format":"{{\"3 Rupees/L\"}}","layout":"row-spread","x":590,"y":760,"wires":[]},{"id":"b1bdf7d7.56b8f8","type":"ui_text","z":"71dfb99.c1aae48","group":"1e96a458.4c4acc","order":14,"width":15,"height":1,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":800,"wires":[]},{"id":"e31a4809.4c1888","type":"ui_text","z":"71dfb99.c1aae48","group":"1e96a458.4c4acc","order":17,"width":15,"height":1,"name":"","label":"Due","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":840,"wires":[]},{"id":"2719d0ec.5572e","type":"ui_text","z":"71dfb99.c1aae48","group":"1e96a458.4c4acc","order":18,"width":15,"height":1,"name":"","label":"Total","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":920,"wires":[]},{"id":"6ae7655e.5e57fc","type":"function","z":"71dfb99.c1aae48","name":"Quan_C","func":"msg.payload = msg.payload.Quan_C\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["b1bdf7d7.56b8f8"]]},{"id":"2dc372c1.4dffae","type":"function","z":"71dfb99.c1aae48","name":"Due_C","func":"msg.payload = msg.payload.Due_C\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":840,"wires":[["e31a4809.4c1888"]]},{"id":"e004254e.601e68","type":"function","z":"71dfb99.c1aae48","name":"Total_C","func":"msg.payload = msg.payload.Total_C\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":920,"wires":[["2719d0ec.5572e"]]},{"id":"eb69504d.7158e","type":"ui_text","z":"71dfb99.c1aae48","group":"1e96a458.4c4acc","order":16,"width":15,"height":1,"name":"","label":"current term bill","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":880,"wires":[]},{"id":"8eeac90b.808838","type":"function","z":"71dfb99.c1aae48","name":"Cur_C","func":"msg.payload = msg.payload.Cur_C\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":880,"wires":[["eb69504d.7158e"]]},{"id":"2c023304.6e6c5c","type":"ui_text","z":"71dfb99.c1aae48","group":"ab6f3054.8e8bb","order":15,"width":15,"height":1,"name":"","label":"Cost/L","format":"{{\"3 Rupees/L\"}}","layout":"row-spread","x":970,"y":760,"wires":[]},{"id":"b8b631b8.3b743","type":"ui_text","z":"71dfb99.c1aae48","group":"ab6f3054.8e8bb","order":14,"width":15,"height":1,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":800,"wires":[]},{"id":"dc175c91.6a114","type":"ui_text","z":"71dfb99.c1aae48","group":"ab6f3054.8e8bb","order":17,"width":15,"height":1,"name":"","label":"Due","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":840,"wires":[]},{"id":"9e7225f6.088338","type":"ui_text","z":"71dfb99.c1aae48","group":"ab6f3054.8e8bb","order":18,"width":15,"height":1,"name":"","label":"Total","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":920,"wires":[]},{"id":"6d152e5f.73d72","type":"function","z":"71dfb99.c1aae48","name":"Quan_D","func":"msg.payload = msg.payload.Quan_D\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":800,"wires":[["b8b631b8.3b743"]]},{"id":"2dd91bbe.4efa54","type":"function","z":"71dfb99.c1aae48","name":"Due_D","func":"msg.payload = msg.payload.Due_D\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":840,"wires":[["dc175c91.6a114"]]},{"id":"28874ad1.6e3766","type":"function","z":"71dfb99.c1aae48","name":"Total_D","func":"msg.payload = msg.payload.Total_D\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":920,"wires":[["9e7225f6.088338"]]},{"id":"20353e4b.b6a5c2","type":"ui_text","z":"71dfb99.c1aae48","group":"ab6f3054.8e8bb","order":16,"width":15,"height":1,"name":"","label":"current term bill","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":880,"wires":[]},{"id":"892d1703.b5a278","type":"function","z":"71dfb99.c1aae48","name":"Cur_D","func":"msg.payload = msg.payload.Cur_D\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":880,"wires":[["20353e4b.b6a5c2"]]},{"id":"7314b2ea.3647ac","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"94f29458.4a37e8","order":20,"width":3,"height":1,"passthru":false,"label":"Pay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Pay_B\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1210,"y":260,"wires":[["199b2c0e.a2aa04"]]},{"id":"219a674c.4fbbd8","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"1e96a458.4c4acc","order":20,"width":3,"height":1,"passthru":false,"label":"Pay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Pay_C\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1210,"y":300,"wires":[["199b2c0e.a2aa04"]]},{"id":"1e4e5ac0.d8d845","type":"ui_button","z":"71dfb99.c1aae48","name":"","group":"ab6f3054.8e8bb","order":20,"width":3,"height":1,"passthru":false,"label":"Pay","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"Pay_D\"}","payloadType":"json","topic":"topic","topicType":"msg","x":1210,"y":340,"wires":[["199b2c0e.a2aa04"]]},{"id":"ab94d140.25f01","type":"cloudant out","z":"71dfb99.c1aae48","name":"","cloudant":"23265860.24d218","database":"water_management","service":"node-red-tnwhl-2021--cloudant-1625813020479-19156","payonly":false,"operation":"insert","x":860,"y":560,"wires":[]},{"id":"e7a6dabe.453858","type":"ui_text","z":"71dfb99.c1aae48","group":"1886e6de.ca0029","order":14,"width":15,"height":1,"name":"","label":"Quantity","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":140,"wires":[]},{"id":"be3e3c14.30851","type":"ui_group","name":"Home","tab":"6c15d2b5.0e3bcc","order":4,"disp":true,"width":"25","collapse":false},{"id":"be8144d9.01aaa8","type":"ibmiot","name":"API project","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"94f29458.4a37e8","type":"ui_group","name":"Details","tab":"b4b148dd.dfdd08","order":2,"disp":true,"width":15,"collapse":false},{"id":"1e96a458.4c4acc","type":"ui_group","name":"Details","tab":"b77885df.68ef08","order":3,"disp":true,"width":15,"collapse":false},{"id":"ab6f3054.8e8bb","type":"ui_group","name":"Details","tab":"8a29f90b.475fe8","order":4,"disp":true,"width":15,"collapse":false},{"id":"1886e6de.ca0029","type":"ui_group","name":"Details","tab":"1c3cec5f.9d5924","order":1,"disp":true,"width":"15","collapse":false},{"id":"23265860.24d218","type":"cloudant","host":"91b010f0-d17e-478b-95a8-7ca76d82b32d-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"6c15d2b5.0e3bcc","type":"ui_tab","name":"Intelligent Water Distribution System","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b4b148dd.dfdd08","type":"ui_tab","name":"House_B","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"b77885df.68ef08","type":"ui_tab","name":"House_C","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"8a29f90b.475fe8","type":"ui_tab","name":"House_D","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"1c3cec5f.9d5924","type":"ui_tab","name":"House_A","icon":"dashboard","order":6,"disabled":false,"hidden":false}]